<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="constr" connectionString="Server=localhost;Database=per_tran;Uid=root;Pwd=12345;"
      providerName="" />
    <add name="constr2" connectionString="Server=localhost;Database=per_tran;Uid=root;Pwd=12345;"
      providerName="" />

  </connectionStrings>
</configuration>